<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="wande">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Downloads</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/styles/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/styles/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Download Patient Data</h1>
    <a th:href="@{|/download?path=invalid|}" class="btn btn-lg btn-primary btn-block" type="submit">Patients with Invalid fingerprints</a>
    <a th:href="@{|/download?path=lowQuality|}" class="btn btn-lg btn-primary btn-block" type="submit">Patients with low quality fingerprints</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>
</body>
</html>